{% load static %}
<br/>
<br/>
<br/>
<br/>
<br/>
<style>
  .span-or {
      display: block;
      position: absolute;
      left: 50%;
      top: -2px;
      margin-left: -25px;
      background-color: #fff;
      width: 50px;
      text-align: center;
  }

  .hr-or {
      background-color: #cdcdcd;
      height: 1px;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
  }

  footer.nb-footer {
      background: #222;
      border-top: 4px solid #b78c33;
  }

  footer.nb-footer .about {
      margin: 0 auto;
      margin-top: 40px;
      max-width: 1170px;
      text-align: center;
  }

  footer.nb-footer .about p {
      font-size: 13px;
      color: #999;
      margin-top: 30px;
  }

  footer.nb-footer .about .social-media {
      margin-top: 15px;
  }

  footer.nb-footer .about .social-media ul li a {
      display: inline-block;
      width: 45px;
      height: 45px;
      line-height: 45px;
      border-radius: 50%;
      font-size: 16px;
      color: #b78c33;
      border: 1px solid rgba(255, 255, 255, 0.3);
  }

  footer.nb-footer .about .social-media ul li a:hover {
      background: #b78c33;
      color: #fff;
      border-color: #b78c33;
  }

  footer.nb-footer .footer-info-single {
      margin-top: 30px;
  }

  footer.nb-footer .footer-info-single .title {
      color: #aaa;
      text-transform: uppercase;
      font-size: 16px;
      border-left: 4px solid #b78c33;
      padding-left: 5px;
  }

  footer.nb-footer .footer-info-single ul li a {
      display: block;
      color: #aaa;
      padding: 2px 0;
  }

  footer.nb-footer .footer-info-single ul li a:hover {
      color: #b78c33;
  }

  footer.nb-footer .footer-info-single p {
      font-size: 13px;
      line-height: 20px;
      color: #aaa;
  }

  footer.nb-footer .copyright {
      margin-top: 15px;
      background: #111;
      padding: 7px 0;
      color: #999;
  }

  footer.nb-footer .copyright p {
      margin: 0;
      padding: 0;
  }
</style>
<body>
    <hr class="hr-or">
    <span class="span-or">or</span>
    <hr class="hr-or">
    <hr class="hr-or">
    <footer class="nb-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="about">
                        <img src="images/logo.png" class="img-responsive center-block" alt="">


                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-info-single">
                        <h2 class="title">|   Help Center   |</h2>
                        <ul class="list-unstyled">
                            <li><a href="/" title=""><i
                                        class="fa fa-angle-double-right"></i> Knowledge </a></li>
                                    
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-info-single">
                        <h2 class="title">|   Main Menu  | </h2>
                        <ul class="list-unstyled">
                            <li><a href="/" title=""><i
                                        class="fa fa-angle-double-right"></i> HOME</a></li>
                            <li><a href="/about" title=""><i
                                        class="fa fa-angle-double-right"></i> About</a></li>
                            <li><a href="/Libarary" title=""><i
                                        class="fa fa-angle-double-right"></i> Libarary</a></li>
                            <li><a href="/sport" title=""><i
                                        class="fa fa-angle-double-right"></i> Sports </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-info-single">
                        <h2 class="title">|  All Services  | </h2>
                        <ul class="list-unstyled">
                            <li><a href="/admission" title=""><i
                                        class="fa fa-angle-double-right"></i> Admission </a></li>
                            <li><a href="/interactive" title=""><i
                                        class="fa fa-angle-double-right"></i> Leader </a></li>
                            <li><a href="/mission" title=""><i
                                        class="fa fa-angle-double-right"></i> Vision & Mission </a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-info-single">
                        <h2 class="title"> |  Contact Us  | </h2>
                        <li><a href="/" title=""><i
                            class="fa fa-angle-double-right"></i> Address: Charnal , Shyampur , 
                                                                  Sehore , Madhya Pradesh , 466665
                                                                   </a></li>
                        <li><a href="/" title=""><i
                            class="fa fa-angle-double-right"></i> Number : +91 9773882173 , +91 8755562295 </a></li>
                        <li><a href="/" title=""><i
                            class="fa fa-angle-double-right"></i> Email : GVM12@gmail.com </a></li>
                        <li><a href="/" title=""><i
                            class="fa fa-angle-double-right"></i>Timing : Mon to Sat : 9:00 A.M.-5:00 P.M.</a></li>
                    </div>
                </div>
            </div>
        </div>

        <div class="social-media">
            <ul class="list-inline  container-fluid bg-2 text-center ">
                
                <li><a href="https://www.facebook.com/home.php" title=""><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://twitter.com/i/flow/login" title=""><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://twitter.com/hashtag/knowledge" title=""><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.google.co.in/" title=""><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>

    </footer>
</body>
      </div>
    </div>
  </div>
  <br>
  
  <ul class="nav nav-tabs">
  </ul>
</div>

<!-- Image of location/map -->


</body>
</html>